<nav class="navbar navbar-expand-xl navbar-light shadow sticky-top" id="navbar">
    <div class="container nav-container">
        <a class="navbar-brand" href="#">
            <img src="./assets/home.png">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse fw-bold" id="navbarText">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown me-2">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false" data-i18n="navigation-language">
                        Language
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item lang-switch" href="#" data-locale="en">EN</a></li>
                        <li><a class="dropdown-item lang-switch" href="#" data-locale="ru">RU</a></li>
                    </ul>
                </li>
                <li class="nav-item me-2">
                    <a class="nav-link" href="#about" data-i18n="navigation-about">Characters</a>
                </li>
                <li class="nav-item me-2">
                    <a class="nav-link" href="#info" data-i18n="navigation-qualifications">Download</a>
                </li>
                <li class="nav-item me-2">
                    <a class="nav-link" href="#contact" data-i18n="navigation-contact">Soundtrack</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link detailed-offer" href="#detailedOffer"
                        data-i18n="navigation-detailedOffer">Team</a>
                </li>
            </ul>
        </div>
    </div>
</nav>