@font-face {
  font-family: "RifficFree-Bold";
  src: url("../../fonts/RifficFree/RifficFree-Bold.ttf") format("truetype"),
    url("../../fonts/RifficFree/RifficFree-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Halogen-Regular";
  src: url("../../fonts/Halogen/Halogen-Regular.ttf") format("truetype"),
    url("../../fonts/Halogen/Halogen-Regular.ttf") format("truetype");
}
